<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%- include('../../partials/head') %>
  <title>Nạp Tiền - Thuê Acc Game</title>
</head>

<body class="relative" style="background-image: var(--vcn-regular-gradient-dark-blue-cl); padding: 0;">
  <%- include('../../partials/header') %>

  <%- include('./main') %>

  <%- include('../../partials/footer') %>

  <%- include('../../partials/bottom-libs') %>
  <script src="/deposit/by-card/by-card-page.js" type="module" defer></script>
</body>

</html>