<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%- include('../partials/head') %>
  <title>Liên hệ - Thuê Acc Game</title>
</head>

<body>
  <%- include('../partials/header') %>

  <%- include('./main') %>

  <%- include('../partials/footer') %>

  <%- include('../partials/bottom-libs') %>
  <script src="/contact/contact-page.js" type="module" defer></script>
</body>

</html>